.arz{
      margin-top: auto;
      text-align: center;
      background-color: silver;
      font-size: x-large;
      font-weight: 200
      font ;
}
.pit{
      background-color: blue;
}
